{% extends "base.html" %}
{% block title %}{{ individual.name_first }} {{ individual.patronym }} {{ individual.name_last }}{% endblock title %}


{% block content %}
<h2>{{ individual.name_first }} {{ individual.patronym }} {{ individual.name_last }}</h2>

{% if individual.name_first %}
    <p>Имя: {{ individual.name_first }}</p>
{% endif %}
{% if individual.patronym %}
    <p>Отчество: {{ individual.patronym }}</p>
{% endif %}
{% if individual.name_last %}
    <p>Фамилия: {{ individual.name_last }}</p>
{% endif %}
{% if individual.name_maiden %}
    <p>Девичья фамилия: {{ individual.name_maiden }}</p>
{% endif %}
{% if individual.gender %}
    <p>Пол: {{ individual.get_gender_display }}</p>
{% endif %}
{% if individual.date_birth %}
    <p>Дата рождения: {{ individual.date_birth }}</p>
{% endif %}
{% if individual.date_death %}
    <p>Дата смерти: {{ individual.date_death }}</p>
{% endif %}
{% if individual.place_birth %}
    <p>Место рождения: {{ individual.place_birth}}</p>
{% endif %}
{% if individual.place_death %}
    <p>Место смерти: {{ individual.place_death}}</p>
{% endif %}
{% if individual.individual_notes %}
    <p>Дополнительная информация:{{ individual.individual_notes }}</p>
{% endif %}
<hr/>
<p>
    <a class="btn btn-primary"
        href="{% url 'familyroster:update' individual.id %}"
        role="button">
        Update
        </a>

    <a class="btn btn-primary"
        href="{% url 'familyroster:delete' individual.id %}" role="button">
        Delete
    </a>
</p>
<hr/>
Родственные связи:
{{ relatif_list }}
<p>
    {% for obj in relatif_list|dictsort:'role' %}
        <li>{{ obj.role }}: <a href="{% url 'familyroster:detail' obj.id %}">{{ obj.name_first }} {{ obj.patronym }} {{ obj.name_last }} {% if obj.name_maiden %} ({{ obj.name_maiden }}){% endif %}</a>
        <a class="btn btn-primary" href="{% url 'familyroster:update_relationship' obj.relationship_id %}" role="button"> Исправить связь</a>
        <a class="btn btn-primary" href="{% url 'familyroster:delete_relationship' obj.relationship_id %}" role="button"> Удалить связь</a>
    {% endfor %}
</p>
<hr/>
<p>
    <a class="btn btn-primary"
        href="{% url 'familyroster:add_relationship' individual.id %}"
        role="button">
        Add Relationship
        </a>
</p>
<hr/>
{% endblock content %}